<a href="https://colab.research.google.com/github/jcjcchang/2nd-ML100Days/blob/master/homework/Day_017_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 作業 : (Kaggle)鐵達尼生存預測精簡版 
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著不依賴說明, 只依照下列程式碼回答下列問題, 初步理解什麼是"特徵工程"的區塊

# [作業重點]
- 試著不依賴註解, 以之前所學, 回答下列問題

# 作業1
* 下列A~E五個程式區塊中，哪一塊是特徵工程?
Ans : 區塊 C

# 作業2
* 對照程式區塊 B 與 C 的結果，請問那些欄位屬於"類別型欄位"? (回答欄位英文名稱即可) 

Ans : Sex , Name , Ticket, Cabin , Embarked

# 作業3
* 續上題，請問哪個欄位是"目標值"?
Ans : PassengerID , Survived

In [21]:
# 程式區塊 A
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler


from google.colab import drive
drive.mount('gdrive')

df_train = pd.read_csv('gdrive/My Drive/draft-ds/titanic_train.csv')
df_test = pd.read_csv('gdrive/My Drive/draft-ds/titanic_test.csv')

# 讀取檔案
df_train.shape
'''
data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape
'''

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

"\ndata_path = 'data/'\ndf_train = pd.read_csv(data_path + 'titanic_train.csv')\ndf_test = pd.read_csv(data_path + 'titanic_test.csv')\ndf_train.shape\n"

In [22]:
# 程式區塊 B
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

   Pclass                                               Name  ... Cabin  Embarked
0       3                            Braund, Mr. Owen Harris  ...   NaN         S
1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2       3                             Heikkinen, Miss. Laina  ...   NaN         S
3       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4       3                           Allen, Mr. William Henry  ...   NaN         S

[5 rows x 10 columns]

In [23]:
df.dtypes

Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [4]:
# 程式區塊 C
LEncoder = LabelEncoder()
MMEncoder = MinMaxScaler()
for c in df.columns:
    df[c] = df[c].fillna(-1)
    if df[c].dtype == 'object':
        df[c] = LEncoder.fit_transform(list(df[c].values))
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1))
df.head()

   Pclass      Name  Sex       Age  ...    Ticket      Fare     Cabin  Embarked
0     1.0  0.118683  1.0  0.283951  ...  0.775862  0.016072  0.000000  1.000000
1     0.0  0.218989  0.0  0.481481  ...  0.879310  0.140813  0.575269  0.333333
2     1.0  0.400459  0.0  0.333333  ...  0.984914  0.017387  0.000000  1.000000
3     0.0  0.323124  0.0  0.444444  ...  0.070043  0.105390  0.381720  1.000000
4     1.0  0.016845  1.0  0.444444  ...  0.699353  0.017630  0.000000  1.000000

[5 rows x 10 columns]

In [0]:
for column in df :
  
  print(column,df[column].unique())

In [5]:
# 程式區塊 D
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

from sklearn.linear_model import LogisticRegression
estimator = LogisticRegression()
estimator.fit(train_X, train_Y)
pred = estimator.predict(test_X)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [0]:
# 程式區塊 E
sub = pd.DataFrame({'PassengerId': ids, 'Survived': pred})
sub.to_csv('titanic_baseline.csv', index=False)